* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  /* overflow-y: auto; */
  perspective: 15px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  z-index: -1;
  align-items: center;
  transform-style: preserve-3d;
}
#heading {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translatex(-50%);
  font-size: 10rem;
  letter-spacing: 4px;
  color: rgb(121, 121, 121) !important;
  text-shadow: 10px, 10px, 10px 0 rgb(11, 8, 8);
}

.background {
  transform: translateZ(-40px) scale(4);
}

.foreground {
  transform: translateZ(-20px) scale(3);
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

section {
  background-color: black !important;
  color: azure;
  padding: 5rem 0;
}

.sec_heading {
  font-size: 5rem;
  padding: 0 10rem 0;
}

.text {
  font-size: 1.4rem;
  padding: 0 10rem;
  margin: 5rem 0;
}

.bg1 {
  background-image: url(/images/sport-1.jpg);
}

.bg2 {
  background-image: url(/images/sport-2.jpg);
}

.bg3 {
  background-image: url(/images/sport-3.jpg);
}

.bg {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  height: 800px;
  background-size: cover;
  background-position: center;
}

.desc {
  position: absolute;
  background-color: #fff;
  padding: 0.5rem 2.5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3.5rem;
  color: black;
  font-weight: 600;
}
